.footer {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: $secondary-color;
  padding-top: 50px;
  padding-bottom: 40px;
}
