.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-text-color {
  color: $secondary-text-color;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-300 {
  font-weight: 300;
}

.opacity-04 {
  opacity: 0.4;
}

.opacity-02 {
  opacity: 0.2;
}

.filter-invert-100 {
  filter: invert(100%);
}

.d-flex {
  display: flex;
}

.f-direction-row {
  flex-direction: row;
}

.f-direction-column {
  flex-direction: column;
}

.f-content-between {
  justify-content: space-between;
}

.f-content-center {
  justify-content: center;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-align-items-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

$margin-top: 100, 80, 70, 60, 50, 40, 30, 20, 10;

@each $number in $margin-top {
  .mt-#{$number} {
    margin-top: #{$number}px;
  }
}

.mt-84 {
  margin-top: 84px;
}

.mt-57 {
  margin-top: 57px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-47 {
  margin-bottom: 47px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-15 {
  margin-left: 15px;
}

.my-33 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-auto-0 {
  margin-right: 0;
  margin-left: auto;
}

.py-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
