$height-header: 110px;
$primary-color: #fff;
$secondary-color: #000;
$section-bg: #ebebeb;
$menu-color: #222;
$text-color: #333;
$secondary-text-color: #4f4f4f;
$h2-color: #bdbdbd;
$container-width: 1110px;
$padding: 20px;
$btn-bg: #005fa3;
